@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
    font-family:'Roboto',sans-serif;
    letter-spacing:.5px;
    color:#666;
    background:#fff;
    /* padding-top:94px */
}
body,html{
    height:100%
}
body.demo{
    background: #222;
}
.navbar{
    padding-top:0;
    padding-bottom:0;
    background-color:#222;
    box-shadow:0 0 15px rgba(0,0,0,.1)
}
.top{
    padding:80px 0;
    background-color:#222;
}
.box.grid.recipes,.top .box{
    background-color:#fff;
    box-shadow:0 6px 15px rgba(36,37,38,.08)
}
.top h5{
    font-size:1.2rem;
    margin-bottom:30px;
    color:#dadada
}
.top .box{
    padding:25px
}
.top .box h3{
    font-size:1.2rem;
    font-weight:700;
    padding-left:120px
}
.top .box h3 a{
    color:#333
}
.top .box p{
    line-height:22px;
    margin-bottom:0;
    padding-left:120px
}
.top .box img{
    float:left;
    width:100px;
    height:100px;
    border-radius:6px
}
.list{
    margin-top:30px
}
.list h5{
    margin-bottom:40px;
    padding-bottom:20px;
    border-bottom:1px dashed #222
}
.list .btn-load{
    padding:15px 30px;
    color:#666;
    border:1px solid #222;
    border-radius:2px;
    background: #222;
}
.list .btn-load:hover{
    color: #fff;
}
.box.grid.recipes{
    margin-bottom:40px;
    padding-bottom:30px;
    text-align:center;
    border:1px solid #dedede
}
.box.grid.recipes .by{
    padding:30px 45px;
    text-align:left;
    color:#fff;
    background-color:#222;
    font-size: 18px;
}
.box.grid.recipes .tag,.box.grid.recipes h2,.box.grid.recipes p{
    padding-right:15px;
    padding-left:15px
}
.box.grid.recipes h2{
    font-size:1.3rem;
    font-weight:700;
    text-transform:capitalize
}
.box.grid.recipes h2 a{
    color:#333
}
.box.grid.recipes img{
    width:100%;
    margin-bottom:30px
}
.box.grid.recipes .tag a{
    display:inline-block;
    padding:10px 20px;
    color:#fff;
    border:1px solid #222;
    border-radius:3px;
    background:#222;
    transition: all 0.3s ease;
    margin: 0 3px 6px 0;
}
.box.grid.recipes .tag a:hover{
    text-decoration:none;
    background-color:#f8f8f8;
    color:#222;
    transition: all 0.3s ease;
}
.box.list.recipes{
    margin-top:0;
    margin-bottom:30px;
    padding-bottom:20px;
    border:1px solid #dedede;
    background-color:#fff;
    box-shadow:0 6px 15px rgba(36,37,38,.08)
}

.box.list.recipes img{
    float:left;
    width:100px;
    height:100px;
    margin-left:20px
}
.search .form-group .form-control,.search .form-group input,.search .select2-container .select2-selection--single{
    height: 45px;
    width: 642px;
}
.search .select2-container .select2-selection--multiple,.submit .content .select2-container .select2-selection--single,.submit .content input{
    height:80px;
    width: 642px;
}
.box.list.recipes h2{
    font-size:1.2rem;
    padding-left:140px
}
.box.list.recipes h2 a{
    font-weight:700;
    color:#333
}
.box.list.recipes .tag,.box.list.recipes p{
    padding-left:140px
}

.box.list.recipes .tag a{
    display:inline-block;
    padding:10px 20px;
    color:#fff;
    border:1px solid #222;
    border-radius:3px;
    background:#222;
    transition: all 0.3s ease;
    margin: 0 3px 6px 0;
}
.box.list.recipes .tag a:hover{
    text-decoration:none;
    background-color:#f8f8f8;
    color:#222;
    transition: all 0.3s ease;
}

.box.list.recipes .by{
    margin-bottom:20px;
    padding:10px 15px;
    text-align:left;
    color:#fff;
    background-color:#e13b2b
}
.box.list.recipes .by{
    padding:30px 45px;
    text-align:left;
    color:#fff;
    background-color:#222;
    font-size: 18px;
}
.page{
    margin-top:70px;
    margin-bottom:50px
}
.page .title h1{
    font-size:2.5rem;
    font-weight:700;
    margin-bottom:40px;
    color:#333
}
.page .title h4{
    font-size:1rem;
    text-transform:uppercase;
    color:#cacaca
}
.page .content .aligncenter,.page .content div.aligncenter{
    display:block;
    margin:5px auto;
    text-align:center
}
.page .content .alignright{
    float:right;
    margin:5px 0 20px 20px
}
.page .content .alignleft{
    float:left;
    margin:5px 20px 20px 0
}
.page .content .caption-text{
    font-size:12px;
    font-style:italic;
    text-align:center
}
.page.contact{
    padding-bottom:40px
}
.page.contact .btn{
    color:#fff;
    padding: 13px 24px 11px;
    background-color:#e13b2b;
}
.page.contact .btn:hover{
	color: #222;
	font-weight: 400;
}
.search{
    margin-top: 15px;
    padding-top:60px;
    background-color:#f8f8f8
}
.search h2{
    font-size:1.2rem;
    margin-bottom:20px;
    padding-bottom:10px;
    color:#525252;
    border-bottom:1px dashed #dedede
}
.search .form-group{
    position:relative
}
.search .form-group label{
    display:block
}
.search .form-group .btn{
    margin-top: 10px;
    top: 10px;
    right:0;
    height:45px;
    color:#fff;
    padding: 10px 25px;
    border-radius:0 3px 3px 0;
    background-color:#e13b2b;
}
.search .form-group .btn:hover{
	color: #222;
	font-weight: 400;
}
.search .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:45px;
    color:#444
}

.search .select2-container--default .select2-selection--multiple .select2-selection__choice{
    margin-top:8px
}
.search .select2-container .select2-search--inline .select2-search__field{
    margin-top:0;
    padding-left:10px
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color:#e13b2b!important
}
.select2{
    width:100%!important
}

.submit .content .btn-submit{
    padding:15px;
    color:#fff;
    background-color:#e13b2b
}

.recipe-detail{
    padding:70px 0
}
.recipe-detail h1{
    font-size:2.5rem;
    font-weight:700;
    margin-bottom:10px;
    color:#333
}

.recipe-detail h4{
    font-size:1rem;
    text-transform:uppercase;
    color:#cacaca
}
.recipe-detail img{
    width:100%
}

.recipe-detail .info{
    margin-bottom:20px;
    padding:20px;
    color:#fff;
    background-color:#222
}
.recipe-detail .info p{
    font-size:.8rem;
    margin-bottom:0
}
.recipe-detail .info p strong{
    font-size:1rem;
    color:#fff
}
.recipe-detail .ingredient-direction{
    margin-top:30px
}
.recipe-detail .ingredient-direction h3{
    font-size:1.2rem;
    font-weight:700;
    margin-bottom:20px
}
.recipe-detail .ingredient-direction ul.ingredients{
    padding:30px 30px 30px 0;
    list-style:none;
    background:#f9f9f9
}
.recipe-detail .ingredient-direction ul.ingredients li{
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px dashed #dedede
}
.recipe-detail ol.directions>li{
    position:relative;
    margin-bottom:30px;
    padding-left:20px
}
.recipe-detail ol.directions{
    list-style-type:none;
    margin:15px 0 0 34px;
    padding:0;
    counter-reset:li-counter
}
.recipe-detail ol.directions>li:before{
    font-size:16px;
    font-weight:700;
    line-height:32px;
    position:absolute;
    top:3px;
    left:-34px;
    width:34px;
    height:34px;
    text-align:center;
    color:#999;
    background-color:#f4f4f4;
    content:counter(li-counter);
    counter-increment:li-counter;
    cursor:default
}

footer{
    margin-top:90px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

footer .btn:hover{color: #222;font-weight: bold;}
.copyright{
    font-size:1rem;
    padding:20px 0;
    background-color:#fff;
}
.copyright a{
    color:#858585
}
.copyright i{
    color:#f44336
}
